.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Buton1 {
  width: 110px;
  height: 31px;
 
  border: 1px solid black;
  border-radius: 5px;
  font-size: 10px;
  
}

.Buton1:active {
  opacity: 0.8; 
}



.Buton2 {
  width: 53px;
  height: 13px;
  
  border: 0 solid black;
  border-radius: 0px;
  font-size: 5px;
  
}

.Buton2:active {
  opacity: 0.8; 
}


.Buton3 {
  width: 13px;
  height: 11px;
  
  border: 0 solid black;
  border-radius: 0px;
  font-size: 4px;
  padding: 0px;
}

.Buton3:active {
  opacity: 0.8; 
}

.Buton4 {
  width: 13px;
  height: 11px;
  
  border: 0 solid black;
  border-radius: 0px;
  font-size: 4px;
  padding: 0px;
}

.Buton4:active {
  opacity: 0.8; 
}

.Buton5 {
  width: 13px;
  height: 11px;
  
  border: 0 solid black;
  border-radius: 0px;
  font-size: 4px;
  padding: 0px;
}

.Buton5:active {
  opacity: 0.8; 
}

.Buton6 {
  width: 74px;
  height: 11px;
  
  border: 0 solid black;
  border-radius: 0px;
  font-size: 4px;
  padding: 0px;

  background-color: transparent;
}

.Buton6:active {
  opacity: 0.8; 
}
